<section id="faqs" class="faqs">
  <h2>Často kladené otázky</h2>
  <ul>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Co se stane, pokud zemřu bez závěti?</h4>
          <div class="sipka"></div>
        </div>
        <p>Pokud někdo zemře bez závěti (nebo dědické smlouvy), jejich majetek se rozdělí podle zákonné posloupnosti příslušným dědicům (jeho rodině). Jedná se o 6 tříd příbuzných zůstavitele od nejbližších (manžel/manželka a potomci) až po vzdálenější (praneteře a prasynovci, tety a strýcové).</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Jak je možné, že lze napsat závěť online?</h4>
          <div class="sipka"></div>
        </div>
        <p>Pokud jsou Vaše přání relativně jednoduchá, není potřeba notáře k sepsání Vaší závěti. Co například přes internet udělat nejde, je vydědit potomka - k tomu je právě potřeba notářský zápis. Každopádně na 99% všech ostatních věcí, které s námi lidé běžně řeší, notáře nepotřebujete.<br><br>K tomu, aby Vaše závěť potom nabyla právní moci, je potřeba ji vytisknout a podepsat společně s dvěma svědky. Vytvoření závěti na internetu je naprosto v pořádku. Každou závěť Vám navíc ještě před odesláním překontroluje náš expert - nemusíte se tak vůbec ničeho bát.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Jak je to s dědickou daní?</h4>
          <div class="sipka"></div>
        </div>
        <p>V roce 2014 byla v českém právním řádu zrušena dědická daň. To znamená, že všechny příjmy dědiců a odkazovníků z pozůstalosti jsou od daně osvobozeny (a to i v případě právnických osob). Jediné, co se ale platit musí, jsou poplatky soudnímu komisaři, který má na starosti dědické řízení. Výše poplatku se potom odvíjí od hodnoty majetku, který je předmětem dědictví.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Kolik to stojí peněz?</h4>
          <div class="sipka"></div>
        </div>
        <p>Zajímá Vás aktuální cena našich služeb? Podívejte se do našeho <a href="/cenik">ceníku</a>. Obecně se platí jednorázový poplatek po dokončení tvorby Vaší závěti. Na tento poplatek můžete dostat různé slevy (pokud si například sepíšete závěť s partnerem). Na první rok také k závěti dostanete zdarma naši službu pro neomezené aktualizace dokumentu. To znamená, že pokud by se ve Vašem životě něco změnilo, můžete u nás závěť vždy zpětně upravit. Tato služba dále stojí 190 Kč ročně. První rok je zdarma.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Co to znamená závěť "pro páry"?</h4>
          <div class="sipka"></div>
        </div>
        <p>To je pouze sleva na to, pokud byste se s rozhodli s partnerem oba napsat závěť s námi. Ihned po zaplacení Vaší závěti tak dostanete slevový kupón, který Váš partner může uplatnit jako slevu u své objednávky.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Můžete vidět, co jsem do své závěti napsal/a?</h4>
          <div class="sipka"></div>
        </div>
        <p>Ano. To je asi ten nejdůležitější detail, který nás liší od konkurence. Ke každé závěti totiž přistupujeme naprosto inviduálně, kontrolujeme ji a hlavně přemýšlíme předem "kde by v budoucnu mohl nastat problém". Pokud se nám něco nezdá, odkážeme Vás raději na partnerskou advokátní kancelář a vrátíme Vám všechny peníze. To je podle nás ta jediná cesta, jak našim klientům dodat ten nejlepší právní dokument.<br><br>Vaše data jsou samozřejmě maximálně v bezpečí. S nikým je nesdílíme. Nikomu je neukazujeme. Vše je také důkladně šifrované podle protokolu HTTPS.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Máte nějakou další otázku?</h4>
          <div class="sipka"></div>
        </div>
        <p>Napište nám E-mail na <a href="mailto:podpora@mojezavet.cz">podpora@mojezavet.cz</a> nebo zavolejte na číslo <a href="tel:00420605176305">605 176 305</a> (8h-16h). Moc rádi Vám se vším pomůžeme.</p>
      </div>
    </li>
  </ul>
  <div class="carka"></div>
  <div class="pustitZHlavy">
    <h2>Jste připraveni závěť konečně pustit z hlavy?</h2>
    <p>Začněte zdarma. Zavolejte naší podpoře. Již za 15 minut můžete mít hotovo.</p>
    <a class="button" href="https://zavet.mojezavet.cz">Pojďme začít</a>
  </div>
</section>
