<section id="faqs" class="faqs">
  <h2>Často kladené otázky</h2>
  <ul>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Lorem ipsul dolor sit</h4>
          <div class="sipka"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod diam id egestas dictum. Maecenas ac tellus lorem. Donec consectetur odio et nibh facilisis interdum.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Lorem ipsul dolor sit</h4>
          <div class="sipka"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod diam id egestas dictum. Maecenas ac tellus lorem. Donec consectetur odio et nibh facilisis interdum.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Lorem ipsul dolor sit</h4>
          <div class="sipka"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod diam id egestas dictum. Maecenas ac tellus lorem. Donec consectetur odio et nibh facilisis interdum.</p>
      </div>
    </li>
    <li>
      <div class="otazka zavreno">
        <div class="tlacitko">
          <h4>Lorem ipsul dolor sit</h4>
          <div class="sipka"></div>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod diam id egestas dictum. Maecenas ac tellus lorem. Donec consectetur odio et nibh facilisis interdum.</p>
      </div>
    </li>
  </ul>
  <div class="carka"></div>
  <div class="pustitZHlavy">
    <h2>Jste připraveni konečně vypustit závěť z hlavy?</h2>
    <p>Začněte zdarma. Zavolejte naší podpoře. Již za 15 minut můžete mít hotovo.</p>
    <a class="button" href="https://zavet.mojezavet.cz">Pojďme začít</a>
  </div>
</section>
