<footer>
  <div class="footerInner">
    <ul>
      <li>
        <h4>Kontakt</h4>
      </li>
      <li><a href="tel:00420605176305">+420 605 176 305</a></li>
      <li><a href="mailto:podpora@mojezavet.cz">podpora@mojezavet.cz</a></li>
      <li class="footerPopisText">Naši experti na pomocné lince jsou tu pro Vás každý den od 8h-16h.</li>
    </ul>
    <ul>
      <li>
        <h4>Menu</h4>
      </li>
      <li><a href="/#triKroky">Jak to funguje?</a></li>
      <li><a href="/#reference">Reference</a></li>
      <li><a href="/#faqs">Často kladené otázky</a></li>
      <li><a href="/cenik">Ceník</a></li>
      <li><a href="/o-nas">O nás</a></li>
      <li><a href="https://zavet.mojezavet.cz">Přihlásit se</a></li>

      <li><a href="/vseobecne_obchodni_podminky">Všeobecné obchodní podmínky</a></li>
      <li><a href="/zpracovani_osobnich_udaju">Podmínky ochrany osobních údajů</a></li>

    </ul>
    <ul>
      <li>
        <h4>MojeZávěť.cz</h4>
      </li>
      <li>PalmMedia s.r.o.</li>
      <li>Na Kopci 164, Svojetice 251 62</li>
      <li>IČO: 82882828</li>
      <li class="footerPopisText">Zapsáno v obchodním rejstříku pod spisovou značkou C 316877 u Městského soudu v Praze.</li>
    </ul>
  </div>
  <span>Copyright © 2019 PalmMedia s.r.o.</span>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="assets/js/app.js"></script>
</footer>
