<header>
  <a class="logo" href="/">
    <img src="assets/img/logo.png" alt="Logo Moje Závěť">
  </a>
  
  <div class="mobileHeader">
    <a alt="Otevřít menu">
      <img src="assets/img/menu.png" alt="Menu">
    </a>
  </div>

  <div class="desktopHeader">
    <ul>
      <li>
        <a href="#triKroky">Jak to funguje?</a>
      </li>
      <li>
        <a href="/cenik">Ceník</a>
      </li>
      <li>
        <a href="/o-nas">O nás</a>
      </li>
    </ul>
    <a href="#" class="prihlasitSe">Přihlásit se</a>
    <div class="pomocnaLinka">
      <img src="assets/img/telefonIcona.png" alt="Naše podpora">
      <a href="tel:00420605176305">605 176 305<span> — Pomocná linka</span></a>
    </div>
  </div>
</header>
