<div class="mobilniMenu mobilniMenuZavrit">
  <a class="logo" href="/">
    <img src="assets/img/logo.png" alt="Logo Moje Závěť">
  </a>
  <nav>
    <ul>
      <li><a href="/#triKroky">Jak to funguje?</a></li>
      <li><a href="/#reference">Reference</a></li>
      <li><a href="/#faqs">Často kladené otázky</a></li>
      <li><a href="/cenik">Ceník</a></li>
      <li><a href="/o-nas">O nás</a></li>
      <li><a href="https://zavet.mojezavet.cz">Přihlásit se</a></li>
    </ul>
  </nav>
  <img class="zavritMenu" src="assets/img/zavrit.png" alt="Zavřít menu">
</div>

<header>
  <div class="headerInner">
    <a class="logo" href="/">
      <img src="assets/img/logo.png" alt="Logo Moje Závěť">
    </a>

    <div class="mobileHeader">
      <a class="otevritMenu" alt="Otevřít menu">
        <img src="assets/img/menu.png" alt="Menu">
      </a>
    </div>

    <div class="desktopHeader">
      <ul>
        <li>
          <a href="/#triKroky">Jak to funguje?</a>
        </li>
        <li>
          <a href="/cenik">Ceník</a>
        </li>
        <li>
          <a href="/o-nas">O nás</a>
        </li>
      </ul>
      <a href="https://zavet.mojezavet.cz" class="prihlasitSe">Přihlásit se</a>
      <div class="pomocnaLinka">
        <img src="assets/img/telefonIcona.png" alt="Naše podpora">
        <a href="tel:00420605176305">605 176 305<span> — Pomocná linka</span></a>
      </div>
    </div>
  </div>
</header>
