<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ page.title }}</title>
  <meta name="description" content="{{ page.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="PalmMedia">
  <meta name="language" content="cs">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">

  <meta property="twitter:title" content="{{ page.title }}">
  <meta property="twitter:description" content="{{ page.description }}">

  <meta property="og:url" content="https://mojezavet.cz">

  <link rel="stylesheet" href="assets/css/main.css">

  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
  <link rel="manifest" href="/favicon/site.webmanifest">
  <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000">
  <link rel="shortcut icon" href="/favicon/favicon.ico">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="msapplication-config" content="/favicon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <script type="text/javascript">window.$crisp=[];window.CRISP_WEBSITE_ID="8e7575ab-33ea-4a2f-b897-9df56e6b22b6";(function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();</script>
</head>
