header {
  height: 60px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  .logo {
    text-decoration: none;

    img {
      width: 132px;
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }

  .mobileHeader {
    display: inline-block;

    img {
      width: 25px;
      position: absolute;
      top: 25px;
      right: 25px;
    }
  }

  .desktopHeader {
    display: none;

    ul {
      li {
        a {

        }
      }
    }

    .prihlasitSe {

    }
  }
}

.pomocnaLinka {
  img {

  }

  a {

  }
}

.jinyHeader {
  header {
    position: fixed;
    z-index: 10;
    background: #fff;
    border-bottom: 1px solid #DDDDDD;

    .logo {
      img {
        top: 20px;
        left: 25px;
      }
    }

    .mobileHeader {
      img {
        top: 19px;
        right: 25px;
      }
    }
  }
}

.mobilniMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  z-index: 100;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  .logo {
    text-decoration: none;

    img {
      width: 132px;
      position: absolute;
      top: 25px;
      left: 25px;
    }
  }

  .zavritMenu {
    width: 25px;
    position: absolute;
    top: 25px;
    right: 25px;
  }

  ul {
    padding: 0;
    margin: 0 auto;
    margin-top: 100px;
    padding-bottom: 50px;

    li {
      list-style: none;
      margin: 0 auto;
      text-align: center;
      margin-bottom: 15px;

      a {
        font-family: VisueltPro-Regular;
        font-size: 18px;
        color: black;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}
